<ion-view view-title="login" ng-controller="login-controller">
	<ion-content>
		<div>
			<ion-header-bar class="bar-balanced">
				<p class="headerClass">Giriş</p>
			</ion-header-bar>
		</div>
		</br></br>
		<div>
			<img ng-src="" />
		</div>
		<div>
			<form>
				<input type="text" ng-model="ssn" placeholder=" TC Kimlik No">
				<br>
				<input type="password" ng-model="password" placeholder=" Şifre">
				<br>
				<button class="button button-balanced loginButton" ng-click="login(ssn,password)"><p class="buttonClass">Giriş</p></button>
			</form>
		</div>
	</ion-content>
</ion-view>