<ion-view view-title="Medicine">
	<ion-content>
		<ion-header-bar class="bar-balanced">İlaç Bilgileri</ion-header-bar>
		<div>
			<label class="item item-input item-select">
				<div class="input-label">
					İlaç
				</div>
				<select ng-model="user.medicine">
					<option value="">İlaç seçiniz</option>
					<option ng-repeat="medicine in user.medicine" value="{{medicine}}">
						{{medicine}}
					</option>
				</select>
			</label>
		</div>
		<div class="item item-avatar">
			<img ng-src="medicine.avatar" />
			<h2>İlaç Adı: {{medicine.name}}</h2>
		</div>
		<div>
			<p>Kullanım zamanı:</p>{{medicine.frequency}}
			<br>
		</div>
	</ion-content>
</ion-view>