<ion-view view-title="user" ng-controller="user-controller">
	<ion-content>
		<ion-header-bar class="bar-balanced">
			<p class="headerClass">Kullanıcı</p>
		</ion-header-bar>
		<div class="item item-image">
			<img ng-src=""/>	
		</div>
		<div>
			<p class="modelDataClass">Sosyal Güvenlik Numarası:</p><p class="modelDataClass">{{user.ssn}}</p><br>
			<p class="modelDataClass">İsim:</p><p class="modelDataClass">{{user.name}}</p><br>
			<p class="modelDataClass">Soyisim:</p><p class="modelDataClass">{{user.surname}}</p><br>
			<p class="modelDataClass">Doğum Yeri:</p><p class="modelDataClass">{{user.birthPlace}}</p><br>
			<p class="modelDataClass">Doğum Tarihi:</p><p class="modelDataClass">{{user.birthDate}}</p><br>
		</div>
	</ion-content>
</ion-view>